.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.castList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px 24px;
    flex-wrap: wrap;
}

.castListItem {
    background-color: #221818;
    padding: 12px;
    border-radius: 10px;
}